*~
*.o
*.a
*.gmo
*_t
*.d
*.d.[0-9]*
test.data
cachegrind.*
\#*\#

thin_check
thin_dump
thin_restore
thin_repair
thin_rmap
thin_metadata_size

cache_check
cache_dump
cache_restore
cache_repair

era_check

*.metadata
bad-metadata
Makefile

unit-tests/Makefile
unit-tests/unit_tests

gmock-1.6.0.zip
gmock-1.6.0/

autom4te.cache/

*.xml
*.bin
*.patch

version.h
config.cache
config.log
config.status
configure
