*~
*.tmp
*.swp
*.swo
*.o
*.so
*.a
*.gmo
*_t
*.d
*.8
*.d.[0-9]*
test.data
cachegrind.*
\#*\#
core
/target
**/*.rs.bk

googletest/

bin/pdata_tools
bin/pdata_tools_dev
thin_check
thin_dump
thin_restore
thin_repair
thin_rmap
thin_metadata_size
thin_show_blocks

cache_check
cache_dump
cache_restore
cache_repair
cache_metadata_size

era_check
era_dump
era_invalidate

*.metadata
bad-metadata

unit-tests/Makefile
unit-tests/unit_tests

gmock-1.6.0.zip
gmock-1.6.0/

autom4te.cache/

*.xml
*.bin
*.patch
*.orig
*.rej

version.h
src/version.rs
config.cache
config.log
config.status
configure

callgrind.*
